<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
</script>

<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model.number="number"
            label="Please input number"
            clearable
            :rules="[(v) => !!v || 'Number is not empty!!']"
            type="text"
          ></v-text-field>
          <v-container>
            <v-row>
              <v-col v-for="(num, index) of number" :key="num" cols="1">
                {{ index + 1 }}
              </v-col>
              <v-col></v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
