<script setup lang="ts"></script>

<template>
  <v-row>
    <v-col cols="6">
      <div class="my-5 mx-5">
        <h4>Frist Component</h4>
        <p>{{ count }}</p>
        <br />
        <v-btn v-on:click.prevent="increment">INCREMENT</v-btn>
      </div>
    </v-col>
    <v-col cols="6">
      <div class="my-5 mx-5">
        <h4>Second Component</h4>
        <p>{{ count + count }}</p>
        <br />
        <v-btn v-on:click.prevent="decrement">DECREASE</v-btn>
      </div>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data: () => {
    return {
      count: 0,
    };
  },
  methods: {
    increment() {
      this.count++;
    },
    decrement() {
      if (this.count > 0) {
        this.count--;
      }
    },
  },
};
</script>
