<script lang="ts" setup>
import { ref } from "vue";

const feeling = {
  text: ["Angry", "Cute", "Excited", "Pain", "Shocked", "Smile"],
  img: [
    "./feeling_imgs/angry.png",
    "./feeling_imgs/cute.png",
    "./feeling_imgs/excited.png",
    "./feeling_imgs/pain.png",
    "./feeling_imgs/shocked.png",
    "./feeling_imgs/smile.png",
  ],
};
const post = ref(0);

function image(index: number) {
  post.value = index;
}
</script>
<template>
  <div class="pa-md-5 mx-lg-auto">
    <v-container>
      <v-row>
        <v-col cols="6">
          <v-container style="overflow-y: auto; height: 600px">
            <v-row>
              <v-img :src="feeling.img[post]" style="width: auto"> </v-img>
            </v-row>
          </v-container>
        </v-col>
        <v-col cols="6">
          <h1 style="text-align: center" class="font-weight-medium mb-2">
            {{ feeling.text[post] }}
          </h1>
          <v-item-group mandatory>
            <v-container style="text-align: center" class="text-xs-right">
              <v-row>
                <v-col></v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(0);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      ANGRY
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(1);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      CUTE
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(2);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      EXCITED
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(3);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      PAIN
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(4);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      SHOCKED
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-item v-slot="{ isSelected, toggle }">
                    <v-card
                      :color="isSelected ? 'yellow' : ''"
                      class="pa-4"
                      @click="
                        () => {
                          image(5);
                          toggle();
                        }
                      "
                      height="55"
                    >
                      SMILE
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
            </v-container>
          </v-item-group>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
