<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

interface Product {
  id: number;
  name: string;
  price: number;
}

const productList = ref<Product[]>([]);
const doAdd = (id: number): void => {
  const index = products.value.findIndex((item) => item.id === id);
  productList.value.push(products.value[index]);
};
const sum = computed(function () {
  return productList.value.reduce((Sum, order) => order.price + Sum, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-container style="overflow-y: auto; height: 600px">
          <v-row class="space">
            <v-col
              cols="8"
              xs="8"
              sm="6"
              md="4"
              v-for="(product, index) in products"
              :key="index"
            >
              <v-card>
                <v-card-item
                  style="text-align: center"
                  class="mx-auto rounded-x1"
                  max-width="600"
                  flat
                  outlined
                  ><v-card-title class="ma-2">
                    <v-list-item>{{ product.name }}</v-list-item>
                  </v-card-title>
                  <v-card-subtitle class="ma-2">
                    {{ product.price }}
                    <br />
                    <v-btn @click="doAdd(product.id)">ADD</v-btn>
                  </v-card-subtitle>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-container></v-col
      >
      <v-col cols="5">
        <v-container>
          <v-col class="ma-3 col">
            <v-table id="product" class="con-l mt-n4">
              <thead>
                <tr class="text-body-2">
                  <th>id</th>
                  <th>name</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in productList" :key="index">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              </tbody>
              <tr>
                <td
                  colspan="5"
                  style="text-align: center"
                  v-if="productList.length === 0"
                >
                  No data
                </td>
              </tr>
            </v-table>
            <v-divider style="border-style: dashed" class="mt-2"></v-divider>
          </v-col>
          <v-container>
            <v-row>
              <v-col cols="12">
                <br />
                <h1>Sum : {{ sum }}</h1>
              </v-col>
              <v-col cols="5"> </v-col>
            </v-row>
          </v-container>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#product {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#product td,
#product th {
  padding: 8px;
}

#product tr:nth-child(even) {
  background-color: #f2f2f2;
}

#product tr:hover {
  background-color: #ddd;
}

#product th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
.col {
  height: 450px;
  overflow-y: auto;
}
</style>
